<template>
    <div class="container-sign-up-page">
        <div class="container-sign-up">
            <p class="title">Sign Up</p>
            <FormulateForm v-model="formValues" @submit="handleSubmit">
                <FormulateInput name='username' autocomplete='username' label='Username' label-class="input-label" validation="required" />
                <FormulateInput type='email' name='email' label='Email' label-class="input-label" validation="required|email" :error="isEmailAlreadyTaken ? 'This email is already used' : null"/>
                <FormulateInput type='password' id="new-password" autocomplete='new-password' name='password' label='Password' label-class="input-label" validation="required" :error="isPasswordTooWeak ? 'This password is too weak (6 characters min)' : null"/>
                <FormulateInput type='submit' input-class="btn-submit" label='Sign Up' />
            </FormulateForm>
        </div>
    </div>
</template>
 
<script>
import { registerUser } from './service'
export default {
    name: 'SignUp',
    data () {
        return {
            formValues: {},
            isEmailAlreadyTaken: false,
            isPasswordTooWeak: false
        }
    },
    methods: {
        handleSubmit() {
            if (this.formValues.password.length < 6) {
                this.isPasswordTooWeak = true
            } else registerUser(this.formValues)
                .then((data) => {
                    this.isPasswordTooWeak = false
                    if('error' in data) {
                        switch (data.error) {
                        case 'email':
                            this.isEmailAlreadyTaken = true
                            break;
                        }
                    } else {
                        this.$router.push({ name: 'signIn' })
                    }
                })
        }
    }
}
</script>

<style scoped>
    .container-sign-up-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
    }

    .container-sign-up {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
        border-radius: 35px;
        width: 600px;
        max-width: 100vw;
        padding: 3% 8%;
        margin: 40px 8px;
        box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.25);
    }

    .title {
        margin-bottom: 25px;
        font-size: 22px;
    }
 </style>